*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* createUser */

.signupSection{
    background-color:cadetblue ;
    min-height: 100vh;
    max-height: min-content;
}

.signupSection h3{
    color: darkgreen;
    text-align: center;
    margin-bottom: 50px;
}

.signupContainer{
    height: min-content;
    width: max-content;
    padding: 50px;
    border-radius: 20px;
    background-color: dimgrey;
    margin: auto;
}
.signupContainer h2{
    text-align: center;
    color: #020241;
}
.signupContainer div{
    padding: 20px;
    text-align: center;
}
.signupContainer div input{
    margin-left: 5px;
    outline: none;
    padding-left:5px ;
}

.signupBtn {
    text-align: center;
}

.signupBtn button{
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: all .2s linear;
}
.signupBtn button:hover{
    background-color: blue;
    color: aliceblue;
    transform: scale(1.1);
}



