
.usersContainer{
    background-color: lightblue;
    max-height: min-content;
    min-height: 100vh;
    margin: auto;
}

.usersContainer h1{
    text-align: center;
}

.userData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0px;
}

.userInfo{
    margin: auto;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
    padding: 10px 15px;
    height: min-content;
    border-radius: 20px;
    background-color: purple;
    color: whitesmoke;

}

.entry{
    width: 70%;
    font-weight:700;
    font-size: 20px;
}

.userData .btns{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.userInfo .button{
    padding: 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    transition: all .2s linear;
}

.userInfo .editButton{
    background-color: blue;
}

.userInfo .deleteButton{
    background-color: red;
}
.userInfo .button:hover{
    transform: scale(1.15);
}